<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #msg{
        margin-top: 300px;
    }
</style>
<body>
    <div id="msg">

    <h2 style="text-align: center; display: flex; justify-content: center; align-items: center;">Thanks for contacting!</h2>
    
    <h4 style="text-align: center; display: flex;justify-content: center;align-items: center; ">I will contact you soon :)</h4>
</div>
</body>
</html>